<h1 class="hero-title">Welcome to CSE Motors!</h1>

<div class="hero-container">
  <img src="/images/vehicles/delorean.jpg" alt="Silver DeLorean" >
  <div class="container">
    
    <h3 class="dmc">DMC Delorean</h3>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dicel</p>
    <button class="hero-btn">Own Today</button>
  </div>
</div>

<div class="column">
  <section class="description-section">
    <h2>DMC Delorean Reviews</h2>
    <div class="description-car">
      <ul class="description-list">
        <li>"So fast it's almost like travelling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </div>
  </section>

  <section class="gallery">
    <h2 class="gallery-title">Delorean Upgrades</h2>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="/images/upgrades/flux-cap.png" alt="flux-cap grey" >
        </div>
        <div class="description">Flux Capacitor</div>
      </div>
      <div class="gallery-item">
        <div class="image"><img src="/images/upgrades/flame.jpg" alt="flame red and yellow" ></div>
        <div class="description">Flame Decals</div>
      </div>
      <div class="gallery-item">
        <div class="image">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker hello world" >
        </div>
        <div class="description">Bumper Stickers</div>
      </div>
      <div class="gallery-item">
        <div class="image">
          <img src="/images/upgrades/hub-cap.jpg" alt="round hubcaps" >
        </div>
        <div class="description">Hub Caps</div>
      </div>
    </div>
  </section>
</div>
