<% if (title) { %>
<h1 class="error-title"><%= title %></h1>
<% } else { res.redirect('/error-link') } %>

<p class="error-message"><strong><%- message %></strong></p>
<% if (title === 'Server Error') { %>
    <img class="error-img" src="/images/site/error.jpg" alt="server error" />
<% } else { %>
    <img class="error-img" src="/images/site/error.avif" alt="error" />
<% } %>

